body,
.card,
.table,
.modal-content,
.form-control {

  transition: all 0.3s ease;

}

body {
  background-color: #f4f6f9;
}


.sidebar {
  width: 250px;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

.card {
  border: none;
  border-radius: 10px;
}

table {
  background-color: white;
}

/* =========================
   Dark Mode
========================= */

/* =========================
   Dark Mode
========================= */

.dark-mode {

  background-color: #121212;
  color: white;

}


/* Card */
.dark-mode .card {

  background-color: #1e1e1e;
  color: white;

}


/* Table */
.dark-mode table {

  color: white;

}

.dark-mode .table {

  background-color: #1e1e1e;

}

.dark-mode .table th {

  background-color: #2c2c2c;
  color: white;

}

.dark-mode .table td {

  background-color: #1e1e1e;
  color: white;

}


/* Input */
.dark-mode .form-control {

  background-color: #2c2c2c;
  color: white;
  border: 1px solid #555;

}

.dark-mode .form-control::placeholder {

  color: #aaa;

}


/* Modal */
.dark-mode .modal-content {

  background-color: #1e1e1e;
  color: white;

}


/* Pagination */
.dark-mode .btn-outline-primary {

  color: white;
  border-color: #777;

}

.dark-mode .btn-outline-primary:hover {

  background-color: #444;

}


/* Toast */
.dark-mode .toast {

  color: white;

}
